body {
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 25px;
  background-image: url("https://previews.123rf.com/images/ke77kz/ke77kz1606/ke77kz160600170/60415364-old-paper-background-with-decorative-patterns-vintage-paper-for-the-design.jpg")
}
h1 {
  
  text-align: center;
}

h3 {
  text-align: center;
  
}

h4 {
  text-align: center;
}

body {
  margin: 0% 10%;
}
